langchain==0.2.16
langchain-community
langchain-core
langchain-mistralai
langchain-huggingface
mistralai
fastapi
faiss-cpu
uvicorn
pytest
python-dotenv
sentence-transformers
pandas
requests
numpy
transformers
torch
docker